/* body {
	margin: 0;
	padding: 0;
} */

/* nav starts */
nav {
	display: flex;
	justify-content: center;
	background-color: antiquewhite;
}

.nav-list {
	display: flex;
	width: 40%;
	justify-content: space-between;
	padding: 0%;
	background-color: aqua;
}

.list-items,
a {
	list-style: none;
	height: inherit;
	padding: 0.5em;
	color: black !important;
	text-decoration: none !important;
}
.list-items:hover {
	background-color: red;
	color: white;
}

/* main section starts */
